@page "/calculator"

<h1>Your calculator</h1>

@foreach ((Expression expression, int index) in Expressions.Select((value, i) => (value, i)))
{
    <div class="row mb-3">
        <div class="col-3 variableName">
            <input type="text" class="form-control @(string.IsNullOrWhiteSpace(expression.Name) ? "is-invalid" : "")" bind="@expression.Name" />
        </div>
        <span class="d-flex align-items-center" style="font-size: larger;">=</span>
        <div class="col">
            <input type="text" class="form-control" bind="@expression.Value" />
        </div>
        <button class="btn btn-danger" onclick="@(() => RemoveExpression(index))">
            <span class="oi oi-trash d-flex align-items-center"></span>
        </button>
    </div>
}

<input type="button" class="btn btn-primary" onclick="@AddExpression" value="Add expression" />


@functions {
    private List<Expression> Expressions { get; } = new List<Expression>();

    private void AddExpression() => Expressions.Add(new Expression());

    private void RemoveExpression(int index) => Expressions.RemoveAt(index);

    private class Expression
    {
        public string Name { get; set; }
        public string Value { get; set; } = "";
    }
}
