@page "/edit"
@using Elle.Models
@inherits Elle.ViewModels.EditViewModel

<h1>Your calculator name</h1>

<p>Add expressions (using the "+" button) in the order that they should be evaluated.</p>
<ul>
    <li>Variable names cannot have spaces</li>
    <li>Variable names are case sensitive</li>
    <li>Only simple operations are supported (+, -, *, /, Math.Pow(), Math.Abs())</li>
    <li>Results are only calculated when you click "Solve"</li>
    <li>"Save" puts the expressions into your local browser storage</li>
    <li>"Clear" removes all expressions, but does not save the change</li>
</ul>

<div class="row mb-3">
    <div class="col">
        <button class="btn btn-primary" onclick="@Solve">
            <span class="oi oi-play-circle align-items-center"></span>
            Solve
        </button>
        <button class="btn btn-dark ml-2" onclick="@SaveLocal">
            <span class="oi oi-hard-drive align-items-center"></span>
            Save
        </button>
        <button class="btn btn-danger ml-2" onclick="@Clear">
            <span class="oi oi-circle-x align-items-center"></span>
            Clear
        </button>
    </div>
</div>

<div class="row mb-3">
    <div class="col-3 variableName">
        Variable name
    </div>
    <span class="d-flex align-items-center invisible" style="font-size: larger;">=</span>
    <div class="col">
        Expression
    </div>
    <div class="col-2">
        Result
    </div>
    <button class="btn btn-outline-danger invisible">
        <span class="oi oi-trash d-flex align-items-center"></span>
    </button>
</div>

@foreach ((Expression expression, int index) in Expressions.Select((value, i) => (value, i)))
{
    <div class="row mb-3">
        <div class="col-3 variableName">
            <input type="text" class="form-control @(ExpressionNameIsValid(expression.Name) ? "" : "is-invalid")" bind="@expression.Name" />
        </div>
        <span class="d-flex align-items-center" style="font-size: larger;">=</span>
        <div class="col">
            <input type="text" class="form-control" bind="@expression.Value" />
        </div>
        <div class="col-2">
            <input type="text" class="form-control" bind="@expression.Result" readonly />
        </div>
        <button class="btn btn-outline-danger" onclick="@(() => RemoveExpression(index))">
            <span class="oi oi-trash d-flex align-items-center"></span>
        </button>
    </div>
}

<div class="row mb-3">
    <div class="col">
        <button class="btn btn-outline-primary" onclick="@AddExpression">
            <span class="oi oi-plus d-flex align-items-center"></span>
        </button>
    </div>
</div>
