@page "/"
@inherits Elle.ViewModels.IndexViewModel

<div class="sidebar">
    <div class="top-row pl-4 navbar navbar-dark">
        <a class="navbar-brand" href="">Elle</a>
        <button class="navbar-toggler" onclick="@ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="@NavMenuCssClass" onclick="@ToggleNavMenu">
        <ul class="nav flex-column">
            @foreach (var item in Calculators)
            {
                <li class="nav-item px-3">
                    <div class="nav-link @(ActiveCalculator == item ? "active" : null)" onclick="@(() => ActivateCalculator(item))">
                        <span class="oi oi-calculator" aria-hidden="true"></span> @item.Name
                    </div>
                </li>
            }
        </ul>
    </div>
</div>

<div class="main">
    <div class="content px-4">

        <h1>Elle</h1>
        <h5 class="text-muted">The configurable calculator</h5>

        <p>Add expressions (using the "+" button) in the order that they should be evaluated.</p>
        <ul>
            <li>Variable names cannot have spaces</li>
            <li>Variable names are case sensitive</li>
            <li>Only simple operations are supported (+, -, *, /, Math.Pow())</li>
            <li>Results are only calculated when you click "Solve"</li>
            <li>"Save" puts the expressions into your local browser storage</li>
            <li>"Clear" removes all expressions, but does not save the change</li>
        </ul>

        <h2>@ActiveCalculator.Name</h2>

        <div class="row mb-3">
            <div class="col">
                <button class="btn btn-primary" onclick="@ActiveCalculator.Solve">
                    <span class="oi oi-play-circle align-items-center"></span>
                    Solve
                </button>
                <button class="btn btn-dark ml-2" onclick="@SaveLocal">
                    <span class="oi oi-hard-drive align-items-center"></span>
                    Save
                </button>
                <button class="btn btn-danger ml-2" onclick="@ActiveCalculator.Clear">
                    <span class="oi oi-circle-x align-items-center"></span>
                    Clear
                </button>
            </div>
        </div>

        <Calculator Calculator="@ActiveCalculator" />

    </div>
</div>
